@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Merriweather', serif;
    font-size: 15px;
}

#wrap {
    min-height: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: salmon;
    padding: 20px;
}

#menu > a, footer > a {
    padding: 20px;
    color: white;
    font-size: 20px;
}

#menu > a:hover, footer > a:hover {
    text-decoration: underline;
}

footer > a {
    font-size: 13px;
}

.center {
    text-align: center;
}

main {
    width: 80%;
    margin: auto;
    padding: 20px;
}

footer {
    width: 100%;
    background-color: #898a8a;
    height: 150px;
}

.categories {
    margin-top: 25px;
    width: 20%;
}

.categories:hover > p{
    color: salmon;
    text-decoration: underline;
}

.imageHome {
    width: 100%;
    margin-bottom: 15px;
}

.imageHome:hover {
    opacity: 0.7;
}

.salmon {
    color: salmon;
}

.wrap {
    flex-wrap: wrap;
}

#containerCategories {
    margin-top: 40px;
}

#containerCategories > a {
    margin: 15px;
}

.imageCategorie {
    width: 60%;
    margin: 30px;
}

.border, .border1 {
    width: 100%;
    border: 1px solid #c2c2c2;
    background-color: #c2c2c2;
    padding: 10px;
    color: white;
}

.border1 {
    color: black;
    background-color: white;
}

.border1:hover, .border1:hover > a, .border1:hover > form > input {
    background-color: salmon;
    color: white;
}

.marg20 {
    margin: 20px;
}

.white {
    color: white;
}

.gray {
    color: #898a8a;
}

.imageUpdate {
    width: 20%;
}

h1 {
    font-size: 35px;
    margin-bottom: 15px;
}

.width20 {
    width: 20%;
}

.width60 {
    width: 60%;
}

.text {
    padding: 20px;
}

.lineHorizontal {
    border-bottom: 1px solid #c2c2c2;
    width: 40%;
    margin: 50px auto;
}

.comments {
    margin: 20px;
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 15px;
}

.pseudo, .comment {
    padding: 10px;
}

.comment {
    margin-left: 30px;
}

.button {
    background-color: salmon;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.button2 {
    background-color: #9a9a9a;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    font-size: 20px;
}

.align {
    display: flex;
    align-items: center;
}

.margTop15 {
    margin-top: 15px;
}

.margR {
    margin-right: 10px;
}

.margL {
    margin-left: 10px;
}

.disconnection > input {
    font-size: 16px;
    background-color: transparent;
    padding: 0;
    width: 100%;
    margin: 0;
    text-align: initial;
    border-radius: 0;
}

.imagePlus {
    width: 70%;
}

.width40 {
    width: 40%;
}

.info1 {
    background-color: #ffffff;
    padding: 15px;
    width: 95%;
    color: black;
    margin: 10px;
}

.margTop40 {
    margin-top: 40px;
}

.size12 {
    font-size: 12px;
}

.button3 {
    background-color: white;
    width: initial;
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    right: 17%;
}

.buttonPos3 {
    right: 15%;
}
.buttonPos4 {
    right: 13%;
}


.button3:hover {
    box-shadow: 3px 3px 10px gray;
}

#content {
    height: 500px;
}

.button2:hover  {
    background-color: #727272;
    box-shadow: 5px 5px 10px gray;
}

.button:hover {
    background-color: #f86352;
    box-shadow: 5px 5px 10px gray;
}

.buttonAbsolute1 {
    position: absolute;
    right: 12%;
}

.width80 {
    width: 80%;
}

.auto {
    margin: auto;
}

label {
    font-size: 20px;
    margin: 10px;
}

input, textarea {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #eeeeee;
    border-radius: 10px;
    width: 50%;
}

textarea {
    height: 100px;
}

.height {
    height: 50px;
}

.size20 {
    font-size: 20px;
}